.game-card {
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #ffffff; 
    width: 250px;
    flex-shrink: 0; 
}

.game-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}

.card-img {
    width: auto;
    height: auto;
    object-fit: cover; 
    max-width: 100%; 
}

.card-body {
    padding: 16px; 
    text-align: center; 
}

.card-title {
    font-size: 24px; 
    margin: 8px 0; 
}

.card-text {
    font-size: 16px; 
    margin-bottom: 8px; 
}

.price {
    font-weight: bold; 
    margin: 16px 0; 
}

.btn {
    width: 100%; 
}
